#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imagen{
  width: 70px;
}

.largo{
  width: 350px;
  height: 50px;
}

.largo1{
  width: 200px;
}

.color{
  background-color: rgb(85, 151, 85);
}

.a{
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.borde{
  border: 2px solid rgb(192, 190, 190);
  border-radius: 30px;
  width: 500px;
  background-color:rgb(255, 255, 255);
  color: black;
}

.b{
  border-radius: 30px;
  background-color: rgb(78, 216, 140);
}

.c{
  height: 100px;
  width: 100px;
  background-color: white;
}

.medio{
  display: flex;


}



